<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}/favicons/android-icon-192x192.png">
<!-- 
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/favicons/favicon-16x16.png">
-->
<link rel="icon" type="image/svg_xml" href="{{ .Site.BaseURL }}/favicons/favicon.svg">
<link rel="manifest" href="{{ .Site.BaseURL }}/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
